PARQUET_FILE_TEMPLATE='https://s3.waw3-1.cloudferro.com/apex-benchmarks/metrics/v1/metrics-merged.parquet/[YEAR]-[MONTH]/part-0.parquet'
PARQUET_FILE_EXPIRATION=1 # in hours
PARQUET_MONTH_COVERAGE=2
PUBLIC_STAGING_BASE_URL='https://algorithm-catalogue.dev.apex.esa.int'
PUBLIC_PRODUCTION_BASE_URL='https://algorithm-catalogue.apex.esa.int'
PUBLIC_PREVIEW_BASE_URL='https://algorithm-catalogue.preview.apex.esa.int'
ALGO_REF=main