---
const KEYCLOAK_URL = import.meta.env.KEYCLOAK_URL || process.env.KEYCLOAK_URL;
const KEYCLOAK_REALM =
  import.meta.env.KEYCLOAK_REALM || process.env.KEYCLOAK_REALM;
const KEYCLOAK_CLIENT_ID =
  import.meta.env.KEYCLOAK_CLIENT_ID || process.env.KEYCLOAK_CLIENT_ID;
const KEYCLOAK_CLIENT_SECRET =
  import.meta.env.KEYCLOAK_CLIENT_SECRET || process.env.KEYCLOAK_CLIENT_SECRET;
---

<p>{KEYCLOAK_URL}</p>
<p>{KEYCLOAK_REALM}</p>
<p>{KEYCLOAK_CLIENT_ID}</p>
<p>{KEYCLOAK_CLIENT_SECRET}</p>
