---
import Layout from '../layouts/Layout.astro';
import { CatalogueList } from '../components/react/CatalogueList.tsx';
import { loadCatalogueData } from '../lib/load-catalogue.ts';

const data = loadCatalogueData();
const title = 'Algorithms Catalogue'

export const prerender = true;
---

<Layout title={`${title} - APEx`}>
	<div class="w-full max-w-screen-sm md:max-w-screen-xl mx-auto px-4 my-10">
		<main class="w-full block">	
			<div class="max-w-screen-md text-center mx-auto mb-10">
				<h1 class="text-4xl mb-8 text-white">
					{title}
				</h1>
				<p class="text-balance text-brand-gray-50">
					The APEx Algorithm Catalogue is a valuable and innovative resource that provides access to a wide range of high-quality EO services. For users, it offers a central place to discover EO services that meet their specific needs. For EO projects, it serves as an easy and reliable platform to showcase and offer their services to a broader community, fostering collaboration and wider usage of their results.
				</p>
			</div>
			<CatalogueList catalogues={data} client:idle />
		</main>
	</div>
</Layout>