---
import Layout from '../layouts/Layout.astro';
import { CatalogueList } from '../components/react/CatalogueList.tsx';
import { loadCatalogueData } from '../lib/load-catalogue.ts';

const data = loadCatalogueData({ demo: true });
const title = 'Algorithms Catalogue'

export const prerender = true;
---

<Layout title={`${title} - APEx`}>
	<div class="w-full max-w-screen-xl mx-auto px-4 mt-8">
		<main class="w-full block">	
			<div class="max-w-screen-md text-center mx-auto mb-6">
				<h1 class="text-3xl font-semibold mb-4 text-white">
					{title}
				</h1>
				<p class="text-balance text-brand-gray-50">
					APEx Algorithms Catalogue is a valuable and innovative platform to access and offer a variety of high-quality EO services and it brings end users and service providers together. For end users, it is the place to discover EO services that meet their requirements. For service providers, it is an easy and reliable way to offer their technology to a global community.
				</p>
			</div>
			<CatalogueList catalogues={data} client:idle />
		</main>
	</div>
</Layout>