---
interface Props {
	title: string;
	body: string;
	href: string;
	labels?: string[];
}

const { href, title, body, labels } = Astro.props;
---

<a href={href}>
	<div class="card flex flex-col w-full px-4 py-3 rounded-lg text-brand-teal-30 bg-brand-teal-10">
		<div class="card-header mb-2">
			<span class="text-sm">OpenEO</span>
		</div>

		<h2 class="card-title text-lg font-extrabold text-brand-teal-80">
			{title}
		</h2>

		<p class="card-content mt-2 text-brand-gray-50">
			{body}
		</p>

		{
			labels?.length && (
				<div class="card-labels">
					<hr class="text-brand-teal-20 border my-3" />
					<div class="flex gap-2">
						{
							labels.map((label) => (
								<span class="text-sm px-2 py-1 text-brand-teal-80 bg-white">{label}</span>
							))
						}
					</div>
				</div>
			)
		}
	</div>
</a>