---
import "@/styles/globals.css";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
import { Toaster } from "../components/react/Toaster";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const metaTitle = title || "APEx Algorithm Catalogue";

const metaDescription =
  description ||
  "Discover high-quality EO services in the ESA APEx Algorithm Catalogue: a central hub for discovering and showcasing high-quality EO services, supporting collaboration and reuse.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>
  </head>
  <body>
    <div class="bg-container">
      <NavBar />
      <slot />
      <Footer />
    </div>
    <HamburgerMenu />
    <Toaster client:load />
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        "use strict";

        // MegaMenu Class
        class MegaMenu {
          constructor() {
            const megaMenu = document.querySelector(".js-mega-menu");
            if (!megaMenu) return;

            const megaMenuTopics = document.querySelectorAll(
              ".js-mega-menu-topic",
            );
            const megaMenuContents = document.querySelectorAll(
              ".js-mega-menu-content",
            );

            megaMenuTopics.forEach((topic) => {
              topic.addEventListener("click", this.handleClickTopic.bind(this));
              topic.addEventListener(
                "mouseover",
                this.handleHoverTopic.bind(this),
              );
              topic.addEventListener(
                "mouseout",
                this.handleMouseOutTopic.bind(this),
              );
            });

            this.megaMenuContents = megaMenuContents;
          }

          handleClickTopic(e) {
            e.preventDefault();
            this.switchContent(e.currentTarget);
          }

          handleHoverTopic(e) {
            this.switchContent(e.currentTarget);
          }

          handleMouseOutTopic() {
            // Optional: Add logic for mouse out events if needed
          }

          switchContent(topic) {
            const topicIndex = topic.getAttribute("data-index");
            this.megaMenuContents.forEach((content) => {
              content.setAttribute(
                "aria-hidden",
                content.getAttribute("data-index") !== topicIndex,
              );
            });
          }
        }

        // Hamburger Menu Class
        class HamburgerMenu {
          constructor() {
            const hamburgers = document.querySelectorAll(".js-hamburger");
            const menu = document.querySelector(".js-hamburger-menu");
            const body = document.body;

            if (menu) {
              hamburgers.forEach((hamburger) => {
                hamburger.addEventListener("click", (e) =>
                  this.handleClickHamburger(e, menu, body),
                );
              });
            } else {
            }
          }

          handleClickHamburger(e, menu, body) {
            e.preventDefault();
            menu.classList.toggle("open");
            body.classList.toggle("has-hamburger-open");
          }
        }

        new MegaMenu();
        new HamburgerMenu();
      });
    </script>
    <script>
      import { toast } from "@/lib/toast";
      const currentUrl = new URL(window.location.href); 
      const toastSuccess = currentUrl.searchParams.get("toastSuccess") as string;
      const toastError = currentUrl.searchParams.get("toastError") as string;
      const message: Record<string, Record<string, string>> = {
        success: {
          login: "Successfully logged in!",
          logout: "Successfully logged out!",
        },
        error: {
          login: "Error logging in. Please try again.",
          logout: "Error logging out. Please try again.",
        },
      }
      document.addEventListener("DOMContentLoaded", () => {
        "use strict";

        window.setTimeout(() => {
          if (toastError && message.error[toastError]) {
            toast.error(message.error[toastError]);
          } else if (toastSuccess && message.success[toastSuccess]) {
            toast.success(message.success[toastSuccess]);
          }
          // Clear URL parameters after displaying the toast
          currentUrl.searchParams.delete("toastSuccess");
          currentUrl.searchParams.delete("toastError");
          window.history.replaceState({}, document.title, currentUrl.toString());
        }, 1000);
      });
    </script>
  </body>
</html>
